<% @favorites.each do |favorite| %>
            <p> Brand : <%= favorite.shoe.brand %> </p>
            <p> Name : <%= favorite.shoe.name %> </p>
            <p> Rating : <%= favorite.rating %> </p>
            <p> Your comment : <%= favorite.comment %> </p>
            <p> <%= link_to "Delete", favorite, method: :delete, data: { confirm: "Really?" } %></p>
<% end %>