<h1> <%= current_user.username %> </h1>

<p><% current_user.favorites.each do |shoe| %></p>
<div class="show-shoes">
<ul>
<li> Brand: <%= shoe.brand %><br>
    Image: <%= shoe.image %><br>
     Name: <%= shoe.name %><br>
    Description: <%= shoe.description %><br>
</li>
</ul>
</div>

<% end %>