<%= form_for [@shoe, @favorite] do |f| %>
<%= render partial: "layouts/errors", locals:{record: @favorite} %>
<h1> <%= f.label :rating %> </h1>
<h3><%= f.number_field :rating, min: 1, max: 10 %></h3>
<h1> <%= f.label :comment %></h1>
<h3><%= f.text_area :comment %></h3>
<h3><%= f.submit %></h3>
<% end %>

<div class='rating-comments'>
    <% @shoe.favorites.each do |rating_comment| %>
        <div class="each-fav">
            <p> <%= rating_comment.user.username %>'s Rating : <%= rating_comment.rating %></p>
            <p> <%= rating_comment.comment %></p>
            <p> <%= link_to "Delete", rating_comment, method: :delete, data: { confirm: "Really?" } %></p>
        </div>
    <% end %>
</div>