

<%if current_user.id == @shoe.user_id %>
<h1>Brand: <%= @shoe.brand %></h1><br>
<h1>Image: <%= @shoe.image %></h1><br>
<h1>Name: <%= @shoe.name %></h1><br>
<h1>Description: <%= @shoe.description %></h1><br>
<h1><%= link_to "Edit", edit_shoe_path %></h1>
 <h1><%= link_to "Delete", @shoe, method: :delete, data: { confirm: "Really?" } %></h1>
 <% else %>
 <h1>Brand: <%= @shoe.brand %></h1><br>
<h1>Image: <%= @shoe.image %></h1><br>
<h1>Name: <%= @shoe.name %></h1><br>
<h1>Description: <%= @shoe.description %></h1><br>

 <% end %>
