
  
  <nav>

<ul>
<% if logged_in? %>
<li><%= link_to "Home", shoes_path %></li>
<li><%= link_to "Create Shoe", new_shoe_path %></li>
<li><%= link_to "Logout", logout_path, method: "delete" %></li>
<% else %>
<li><%= link_to "Login", login_path %></li>
<li><%= link_to "Sign up", new_user_path %></li>
</ul>
  <% end %> 
</nav>


 
